@import 'mixins'

.Site
  text-align: center

.Site-logo
  &.loading
    animation: Site-logo-spin infinite 20s linear
  height: 80px

.Site-header
  @include flex-center
  //justify-content: space-around
  background-color: #222
  padding: 1rem
  color: white

  h2
    flex-grow: 1

  .Site-profileControls
    @include flex-center
    justify-content: flex-end
    padding: 10px

  .Site-profilePicture
    width: 48px
    height: 48px
    margin: 1rem

.Site-page
  padding: 1rem

@keyframes Site-logo-spin
  from
    transform: rotate(0deg)
  to
    transform: rotate(360deg)