.Site {
    text-align: center;
}

.Site-logo {
    height: 80px;
}

.Site-logo.loading {
    animation: Site-logo-spin infinite 20s linear;
}

.Site-header {
    display: flex;
    align-items: center;
    background-color: #222;
    padding: 1rem;
    color: white;
}

.Site-header h2 {
    flex-grow: 1;
}

.Site-header .Site-profileControls {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 10px;
}

.Site-header .Site-profilePicture {
    width: 48px;
    height: 48px;
    margin: 1rem;
}

.Site-page {
    padding: 1rem;
}

@keyframes Site-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

/*# sourceMappingURL=App.css.map */
