.Home-intro
  font-size: large

.Dropzone
  margin: 0 auto
  width: 100%
  min-height: 15rem
  height: 100%
  border: 2px dashed #666
  border-radius: 5px
  transition: all 0.5s
  line-height: 2rem

.DropzoneActive
  border-style: solid
  background-color: #92cb8d

.DropzoneReject
  border-style: solid
  background-color: #ff9ea5

img.preview
  max-height: 9rem