.Photolist
  max-width: 960px
  margin: 0 auto

  section
    text-align: left
    display: flex
    flex-direction: row
    flex-wrap: wrap
    align-items: flex-end

  .Photolist-heading
    color: rgba(0, 0, 0, 0.5)
    font-size: 2rem
    margin: 2.5rem 0

  footer
    position: absolute
    bottom: 0
    left: 0
    right: 0