.Photo
  max-width: 480px
  margin: 0 0.5rem
  position: relative
  padding: 1rem 0
  transition: all 0.5s
  display: flex
  flex-direction: column
  align-items: stretch

  &:hover
    img
      opacity: 0.85

  //section
  //  text-align: left
  //  display: flex
  //  flex-direction: row
  //
  //  .Photo
  //    display: flex
  //    align-items: center
  //    padding: 0.5rem

  img
    max-height: 10rem
    transition: all 0.5s

  span
    position: absolute
    bottom: 0
    left: 0

    &.like:hover
      cursor: pointer
      font-weight: bold

.Photo-likes
  color: rgba(0, 0, 0, 0.5)
  font-size: 0.5rem
  margin: 0.5rem 0