.Photolist {
    max-width: 960px;
    margin: 0 auto;
}

.Photolist section {
    text-align: left;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-end;
}

.Photolist .Photolist-heading {
    color: rgba(0, 0, 0, 0.5);
    font-size: 2rem;
    margin: 2.5rem 0;
}

.Photolist footer {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
}

/*# sourceMappingURL=Photolist.css.map */
