.Photo {
    max-width: 480px;
    margin: 0 0.5rem;
    position: relative;
    padding: 1rem 0;
    transition: all 0.5s;
    display: flex;
    flex-direction: column;
    align-items: stretch;
}

.Photo:hover img {
    opacity: 0.85;
}

.Photo img {
    max-height: 10rem;
    transition: all 0.5s;
}

.Photo span {
    position: absolute;
    bottom: 0;
    left: 0;
}

.Photo span.like:hover {
    cursor: pointer;
    font-weight: bold;
}

.Photo-likes {
    color: rgba(0, 0, 0, 0.5);
    font-size: 0.5rem;
    margin: 0.5rem 0;
}

/*# sourceMappingURL=Photo.css.map */
