.Users {
    max-width: 480px;
    margin: 0 auto;
}

.Users ul {
    text-align: left;
    list-style: none;
    display: flex;
    flex-direction: column;
}

.Users ul .Link {
    display: flex;
    align-items: center;
    padding: 0.5rem;
}

.Users ul img {
    max-height: 48px;
    padding: 0 0.5rem;
}

.Users-locationLabel {
    margin-bottom: 5px;
    font-weight: bold;
    float: left;
}

.Users-locationInput {
    width: 100%;
    border: 1px solid #aaa;
    padding: 5px;
    font-size: 20px;
}

.Users-saved {
    margin-top: 10px;
    color: #7ed321;
}

.Users-heading {
    color: rgba(0, 0, 0, 0.5);
    font-size: 2rem;
    margin: 2.5rem 0;
}

/*# sourceMappingURL=Users.css.map */
