.Users
  max-width: 480px
  margin: 0 auto

  ul
    text-align: left
    list-style: none
    display: flex
    flex-direction: column

    .Link
      display: flex
      align-items: center
      padding: 0.5rem

    img
      max-height: 48px
      padding: 0 0.5rem

.Users-locationLabel
  margin-bottom: 5px
  font-weight: bold
  float: left

.Users-locationInput
  width: 100%
  border: 1px solid #aaa
  padding: 5px
  font-size: 20px

.Users-saved
  margin-top: 10px
  color: #7ed321

.Users-heading
  color: rgba(0, 0, 0, 0.5)
  font-size: 2rem
  margin: 2.5rem 0