body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

a {
    cursor: pointer;
    color: #44c7f4;
    text-decoration: underline;
}

button {
    cursor: pointer;
}

/*# sourceMappingURL=index.css.map */
